{% extends "base.html" %}

{% block components %}
     {% if "username" not in session %}
            <div class="btn-group my-2 my-lg-0 mr-auto" role="group" tabindex="-1" aria-label="Button group with nested dropdown">
                <a class="btn btn-success" href="/login" role="button">Войти</a>
                <a class="btn btn-success" href="/register" role="button">Регистрация</a>
            </div>
            {% else %}
             <li class="nav-item dropdown mr-auto">

                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{session['username']}}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/user_page">Личный кабинет</a>
                    <a class="dropdown-item" href="#">Профиль</a>
                <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout">Выход</a>
                </div>
             </li>
    {% endif %}
    <form action="" method="post" novalidate>
     {{ form.hidden_tag() }}
                <p>
                    {{ form.search }}<br>
                    {% for error in form.search.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                    {{ form.submit() }}
                </p>
        </form>
{% endblock %}

{% block content %}
    {% for item in news %}
    <div class="alert alert-dark" role="alert">
        <h1>{{users[item[3]]}}</h1>
        <h2>{{item[1]}}</h2>
        <div>{{item[2]}}</div>

        <img src="/static/img/{{item[0]}}.jpg" alt=" ">

        <div> Рейтинг {{item[5]}}</div>
        <div class="btn-group" role="group" aria-label="Second group">
            <a class="btn btn-primary" href="/like_news/{{item[0]}}" role="button">Like</a>
        </div>
    </div>
    {% endfor %}
{% endblock %}

